// grey
$grey-4c: #4C4C4C;
$grey-A4: #A4A4A4;
$grey-82: #828282;
$grey-7B8:#727B88;
$grey-66: #666666;

// blue
$blue-378: #3780E6;

// white
$white-F2: #F2F2F2;

// black
$black-33: #333333;
$black-44: #444444;


// font

$default-font: 'pretendard';