// @font-face {
//     font-family: 'pretendar';
//     src: url('../assets/font/fonts/pretandard-font/Pretendard.eot');
//     src: url('../assets/font/fonts/pretendard-font/pretendard.eot?#iefix') format('embedded-opentype'),
//         url('../assets/font/fonts/pretendard-font/pretendard.woff2') format('woff2'),
//         url('../assets/font/fonts/pretendard-font/pretendard.woff') format('woff'),
//         url('../assets/font/fonts/pretendard-font/pretendard.ttf') format('truetype'),
//         url('../assets/font/fonts/pretendard-font/pretendard.svg#SUIT-Bold') format('svg');
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
//   }

  // @font-face {
  //   font-family: 'pretendar';
  //   src: url('../assets/font/fonts/pretandard-font/Pretendard.eot');
  //   src: url('../assets/font/fonts/pretendard-font/pretendard.eot?#iefix') format('embedded-opentype'),
  //       url('../assets/font/fonts/pretendard-font/pretendard.woff2') format('woff2'),
  //       url('../assets/font/fonts/pretendard-font/pretendard.woff') format('woff'),
  //       url('../assets/font/fonts/pretendard-font/pretendard.ttf') format('truetype'),
  //       url('../assets/font/fonts/pretendard-font/pretendard.svg#SUIT-Bold') format('svg');
  //   font-weight: 500;
  //   font-style: normal;
  //   font-display: swap;
  // }

  @font-face {
    font-family: 'pretendard';
    src: url('../assets/font/fonts/pretandard-font/Pretendard-Black.eot');
    src: url('../assets/font/fonts/pretandard-font/Pretendard-Black.eot') format('embedded-opentype'),
        url('../assets/font/fonts/pretandard-font/Pretendard-Black.woff2') format('woff2'),
        url('../assets/font/fonts/pretandard-font/Pretendard-Black.woff') format('woff'),
        url('../assets/font/fonts/pretandard-font/Pretendard-Black.ttf') format('truetype'),
        url('../assets/font/fonts/pretandard-font/Pretendard-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'pretendard';
    src: url('../assets/font/fonts/pretandard-font/Pretendard-Bold.eot');
    src: url('../assets/font/fonts/pretandard-font/Pretendard-Bold.eot') format('embedded-opentype'),
        url('../assets/font/fonts/pretandard-font/Pretendard-Bold.woff2') format('woff2'),
        url('../assets/font/fonts/pretandard-font/Pretendard-Bold.woff') format('woff'),
        url('../assets/font/fonts/pretandard-font/Pretendard-Bold.ttf') format('truetype'),
        url('../assets/font/fonts/pretandard-font/Pretendard-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'pretendard';
    src: url('../assets/font/fonts/pretandard-font/Pretendard-Medium.eot');
    src: url('../assets/font/fonts/pretandard-font/Pretendard-Medium.eot') format('embedded-opentype'),
        url('../assets/font/fonts/pretandard-font/Pretendard-Medium.woff2') format('woff2'),
        url('../assets/font/fonts/pretandard-font/Pretendard-Medium.woff') format('woff'),
        url('../assets/font/fonts/pretandard-font/Pretendard-Medium.ttf') format('truetype'),
        url('../assets/font/fonts/pretandard-font/Pretendard-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'pretendard';
    src: url('../assets/font/fonts/pretandard-font/Pretendard-SemiBold.eot');
    src: url('../assets/font/fonts/pretandard-font/Pretendard-SemiBold.eot') format('embedded-opentype'),
        url('../assets/font/fonts/pretandard-font/Pretendard-SemiBold.woff2') format('woff2'),
        url('../assets/font/fonts/pretandard-font/Pretendard-SemiBold.woff') format('woff'),
        url('../assets/font/fonts/pretandard-font/Pretendard-SemiBold.ttf') format('truetype'),
        url('../assets/font/fonts/pretandard-font/Pretendard-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'pretendard';
    src: url('../assets/font/fonts/pretandard-font/Pretendard-Regular.eot');
    src: url('../assets/font/fonts/pretandard-font/Pretendard-Regular.eot') format('embedded-opentype'),
        url('../assets/font/fonts/pretandard-font/Pretendard-Regular.woff2') format('woff2'),
        url('../assets/font/fonts/pretandard-font/Pretendard-Regular.woff') format('woff'),
        url('../assets/font/fonts/pretandard-font/Pretendard-Regular.ttf') format('truetype'),
        url('../assets/font/fonts/pretandard-font/Pretendard-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

// .PretendardRegular {
//   font-family: "pretendard", sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }
// .PretendardMedium {
//   font-family: "pretendard", sans-serif;
//   font-weight: 500;
//   font-style: normal;
// }
// .PretendardSemiBold {
//   font-family: "pretendard", sans-serif;
//   font-weight: 600;
//   font-style: normal;
// }
// .PretendardBold {
//   font-family: "pretendard", sans-serif;
//   font-weight: 700;
//   font-style: normal;
// }